name: Build python package
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

env:
  PYTHON_VERSION: '3.12'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Composite to checkout code
        uses: ./.github/actions/checkout-code
        with:
          fetch-depth: 0
      - name: Composite to install poetry
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          install-dependencies: false

      - name: Build package
        run: poetry build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
          retention-days: 7
