name: Base CI
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    basic-check:
        runs-on: ubuntu-latest
        steps:
          - name: Validation
            run: |
              echo "Repository structure:"
              ls -al
              echo ""
