name: CI with linting and testing with coverage
on:
    push:
        branches: [main]
    pull_request:
        branches: [main, dev]
    workflow_call:

env:
  PYTHON_VERSION: '3.12'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        id: checkout-code
        uses: actions/checkout@v5

      - name: Composite to setup python env
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          no-root: false
          install-dev-dependencies: true

      - name: do tests for project
        id: tests
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)/src
          poetry run pytest tests/ -v \
              --cov=src/homelab_devtools \
              --cov-report=xml \
              --cov-report=term \
              --cov-report=html

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: coverage-report
          path: htmlcov/
          retention-days: 30

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        id: checkout-code
        uses: actions/checkout@v5

      - name: Composite to setup python env
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          no-root: true
          install-dev-dependencies: true

      - name: Run ruff linting
        run: poetry run ruff check .

      - name: Run check formatting with ruff
        run: poetry run ruff format --check .

      - name: Run bandit (security linting)
        run: poetry run bandit -r src/

  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        id: checkout-code
        uses: actions/checkout@v5

      - name: Composite to setup python env
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          no-root: false
          install-dev-dependencies: false

      - name: Run safety (security check for dependencies)
        run: poetry run safety check
